*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/gradlew
/gradlew.bat
/settings.gradle
/task5/proguard-rules.pro
/LongRuningReceverUtil/proguard-rules.pro
/experemental/proguard-rules.pro
/experemental/
.gitignore
libs/
proguard-rules.pro


