<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hplasplas.task7">

    <application

        >

        <service android:name=".services.WeatherWidgetService"/>
        <receiver android:name=".receivers.WeatherWidgetProvider">
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/weather_appwidget_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>



</manifest>